@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.container{
    font-family: 'Manrope', sans-serif;
}
.bottom , .navbar{
    background-color:   #24053e;
    padding: 2%;
}
.bottom{
    border-radius: 100px;

}
.bottomb{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.link{
    color:White;
    text-decoration-color: aqua;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}
.header{
    color:white;
    text-align: center;
    font-size: 4em;
    font-family: "Fraunces",sans-serif;
    font-weight: 100;
}
.tailored{
    color: white;
    text-decoration-color: aqua;

}
.learn{
    background-color: aquamarine;
    width: 150px;
    height: 50px;
    border:none;

}
.learn:hover{
    background-color: whitesmoke;
    color: black;
}
.pattern-1{
    position: absolute;
    top: 20%;
    left: -140px;

}
.pattern-2{
    position:absolute;
    top: 30%;
    right: -5%;
}
.main{
    display:flex;
    flex-direction: row;
    padding: 5%;
}
.box{
    text-align: center;
    width: 33%;
}

.number-box{
    padding: 2%;
    background-color: white;
    border-radius: 100%;

    border: 1px solid #24053e;
}
.box-header{
    color:#24053e;
}

.founder{
    width: 20%;
    position: relative;
    left: 50px;
    bottom: 100px;
    z-index: -1;

}
.footer-box{
    display: flex;
    width: 35%;
     background: #24053e;
    color: white;
    flex-direction: column;
    padding: 2%;
    height: 200px;
    align-items: flex-start;
}     
 .footer{
    display:flex;   
 }